@import url('font-face/font-awesome.min.css');

html { font-size: 62.5%; height: 100%; }
    
body { 
    padding-top: 100px;
    font-size: 16px; font-weight: 400; line-height: 1.2;
    -webkit-font-smoothing: antialiased; height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
    
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, button {
    text-decoration: none;
    outline: 0 !important;
    cursor: pointer; }

a:hover {
}

.transition(@string: all 0.1s ease-in-out) {
    -webkit-transition: @string;
    -moz-transition:    @string;
    -ms-transition:     @string;
    -o-transition:      @string;
    transition:         @string;
}

.transform(@string) {
-webkit-transform: @string;
-moz-transform:    @string;
-ms-transform:     @string;
-o-transform:      @string;
transform:         @string;
}
    
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

ul { list-style: none; margin: 0; padding: 0; }

.clearfix:after {
    clear: both;
}
 
/* IE6/7 support */
.clearfix {
    *zoom: 1;
}
.ir {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.fz(@pxValue) {
    @remValue: (@pxValue/10);
    font-size: ~"@{pxValue}px";
    font-size: ~"@{remValue}rem"; }
    
.box-shadow(@x: 0, @y: 0, @blur: 3px, @red: rgba(0,1px,2px,0.05)) {
    -webkit-box-shadow:  @arguments;
    -moz-box-shadow:     @arguments;
    -ms-box-shadow:      @arguments;
    -o-box-shadow:       @arguments;
    box-shadow:          @arguments;
}

.gradient(@red: #F5F5F5, @start: #EEE, @stop: #FFF) {  background: @red;

  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, @start),
                               color-stop(1, @stop));
  background: -ms-linear-gradient(bottom,
                                  @start,
                                  @stop);
  background: -moz-linear-gradient(center bottom,
                                   @start 0%,
                                   @stop 100%);
  background: -o-linear-gradient(@stop,
                                 @start);
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.square(@x) {
    height: @x;
    width: @x; }
    
.db() { display: block; }
.dib() { display: inline-block; }
.none { display: none; }
.absol() { position: absolute; }
.fixed() {position: fixed; }
.rel() { position: relative; }
.fl() { float: left; }
.fr() { float: right; }

.ptb-80 { padding: 80px 0; }
.ptb-40 { padding: 40px 0; }
    
h1, h2, h3, h4, h5, h6 { 
  font-weight: normal;
  .fz(16);
  line-height: 1; }

section {
  .rel;
}

@blue: #222939;
@dark-blue: #1B212F;
@light-blue: #333E54;
@red: #D05158;
@off-white: #D8D8D8;
@yellow: #FABA2D;

a {
  color: #6487CE;
}

.btn {
  color: white;
  background: @light-blue;
  .fz(14); padding: 7px 10px;
  margin: 0 10px 10px 0;
  outline: none;
  border: none;
  border-radius: 2px; .dib;
  cursor: pointer;

  &.small {
    .fz(13); padding: 5px 8px;
    font-weight: bold;
  }

  &:hover {
    background: @dark-blue;
  }

  &.clear {
    border: solid 1px @light-blue; background: none;
    color: @light-blue;

    &.alt { color: white; }
    &:hover { background: @light-blue; color: white; }
  }

  &.red {
    border: solid 1px @red; background: none;
    color: @red;

    &:hover { background: @red; color: white; }
  }

  &.large {
    padding: 0 15px;
    height: 36px;
    line-height: 36px;
  }

  &.inactive {
    background: #eee;
    pointer-events: none;
  }
}


//Body Styles
.menu {
  height: 50px;.fixed; top: 0; left: 0;
  width: 100%;
  line-height: 50px; z-index: 100;
  border-bottom: solid 1px whitesmoke;
  background:white;

  h1 {
    padding: 0 20px; margin: 0;
    line-height: 50px;
  }

  ul {
    li {
      .fl; .dib; padding: 0 20px;
      border-right: solid 1px whitesmoke;

      &:first-child {
        border-left: solid 1px whitesmoke;
      }

      a {
        color: #333; .fz(14);
        &:hover { color: #141414; }
      }

      &.active { 
        background: white;
         a{ color: #141414; }
      }
    }
  }
}

.title {
  z-index: 10;
  span, a, button, input, select {
    &.left { margin: 0 20px 0 0; }
    &.right { margin: 0 0 0 20px; }
  }

  &.fixed {
    background: white; top: 0;
    .fixed;  padding: 25px 0;
    border-bottom: solid 1px whitesmoke;
  }
}

.content {
  .transition(.4s);
  .transform(translateX(0));

  &.edit-mode {
    .transform(translateX(-200px));
  }
}

.img-wrap {
  text-align: center;

  button {
    .absol; left: 50%; top: 50%;
    .transform(translateX(-50%));
  }
}

.edit-panel {
  .fixed; top: 50px; right: 0; width: 350px;
  min-height: 100%; background: whitesmoke;
  padding-left: 10px; padding-right: 10px;
  .none;

  input, textarea, select { 
    width: 100%; 

    &.inline { width: inherit; .fl; }
    &.sm-label { margin-top: 3px }
  }

  label.inline {
    .fz(14); font-weight: normal;
    .fl; margin: 10px 10px 0 0;
    line-height: 38px;
  }

  &.dv-3 {
    left: 0; width: 340px;
    right: auto; .db; .absol;
    background: #fff;
    border-left: solid 1px whitesmoke;

    &:nth-of-type(2) {
      border-left: 0; .fixed;
      background: @dark-blue;
      color: white; width: 370px;
    }

    &:nth-of-type(3) { 
      left: 370px;
    }

    &:nth-of-type(4) {
      left: 710px;
    }

    &:nth-of-type(5) {
      left: 1050px;
    }
  }
}

.card {
  border-radius: 2px;
  padding: 10px; cursor: pointer;
  border: solid 1px #CCC;

  .img-wrap {
    width: 100%; height: 0;
    background: white;
    padding-bottom: 150%;
    text-align: center;
    overflow: hidden;

    img {
      max-width: 100%;
    }
  }

  .meta {
    ._title { margin-bottom: 0; }
    ._price { .fz(13); opacity: 0.7 }
  }

  &:hover, &.edit-mode, &.auto-pad {
    border-color: @blue;
    background: @blue;
    color: white;
  }

  &.stable {
    cursor: default;

    &:hover {
      background: white;
      border-color: whitesmoke;
      color: inherit;
    }

    .img-wrap {
      padding-bottom: 100%;
    }

    input, select, textarea{ width: 100%; }
  }

  &.auto-pad {
    height: 0; .rel;
    padding-bottom: 100%;

    ._title {
      .absol; left: 10%;
      width: 80%; bottom: 0;
      color: white;

      &.alt {
        top: 10px; bottom: auto;
      }

      &.lh {
        line-height: 1;
      }
    }

    &:hover {
      ._title { color: @yellow; }
    }
  }
}

.selection {
  border-bottom: solid 1px #fcfcfc;
  padding: 0 0 15px 0; 

  .remove {
    .absol; top: -30px; right: 0;
    background: @red; width: 16px;
    border-radius: 0 0 3px 3px; color: white;
    .fz(11); text-align: center;
    line-height: 16px; padding-top: 5px;
  }

  &:nth-of-type(2) {
    .remove { .none; }
  }
}

.order-edit {
  background: rgba(255, 255, 255, 0.95);
  .fixed; top: 0; left: 0;
  .square(100%); z-index: 50;
  padding-top: 100px; .none;
}

.login {
  padding: 20px;
  border-radius: 3px;
  border: solid 1px whitesmoke;
  margin-top: 100px;
}

//Generic Styles 
/* #Forms
================================================== */
form {
  margin-bottom: 20px;
}
fieldset {
  margin-bottom: 20px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea,
select {
  border: solid 1px #ccc;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  padding: 10px 15px;
  text-indent: 0;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-family: inherit;
  color: #777777;
  width: 220px;
  max-width: 100%;
  float: left;
  display: block;
  margin: 10px 0;
  background: white;
  font-size: 14px;
  font-weight: normal;
}
input,
select,
button,
label {
  font-family: inherit;
}
select {
  width: 120px;
  height: 39px;
}
input.full,
select.full,
button.full,
label.full {
  width: 100%;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: solid 1px #333E54;
}
textarea {
  min-height: 60px;
  resize: none;
}
label,
legend {
  clear: both;
  display: block;
  font-weight: bold;
  font-size: 13px;
}
input[type="checkbox"] {
  display: inline;
}
label span,
legend span {
  font-weight: normal;
  font-size: 13px;
  color: #444444;
}
input[type="button"] {
  font-family: inherit;
}


.fill {
  .square(100%); top: 0;
  left: 0; .absol;
}

.cp { cursor: pointer; }

.subtle {
  opacity: 0.4;
}

.bold {
  font-weight: 700;
}

.bg-white {
  background: white;
}

.pad-t-50 {
  padding-top: 50px;
}

.pad-t-100 {
  padding-top: 100px;
}

.pad-v-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.m-n {
  margin: 0;
}

.m-r-20 {
  margin-right: 20px;
}

.m-t-s {
  margin-top: 5px;
}

.m-r-s {
  margin-right: 5px;
}

.m-b-s {
  margin-bottom: 5px;
}

.m-t-m {
  margin-top: 30px;
}

.m-b-m {
  margin-bottom: 30px;
}

.m-b-l {
  margin-bottom: 50px;
}

.m-t-l {
  margin-top: 50px;
}

.m-t-n {
  margin-top: 0;
}

.m-v-n {
  margin-top: 0;
  margin-bottom: 0;
}

.m-b-n {
  margin-bottom: 0;
}

.m-v-s, input.m-v-s {
  margin-top: 5px;
  margin-bottom: 5px;
}

.m-v-m {
  margin-top: 30px;
  margin-bottom: 30px;
}

.b-b {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; padding-bottom: 20px;
}

.txt-xlg {
  .fz(50);
}

.txt-md {
  .fz(24);
}

.txt-min {
  .fz(14);
}

.txt-sm {
  .fz(12);
  font-weight: bold;
}

.show-mobile {
  .none;
  @media all and (max-width:767px) {
    .db;
  }
}

.no-mobile {
  @media all and (max-width:767px) {
    display: none !important;
  }
}

.no-pad { padding: 0 !important; }