@import url('font-face/font-awesome.min.css');
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  padding-top: 100px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a,
button {
  text-decoration: none;
  outline: 0 !important;
  cursor: pointer;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.clearfix:after {
  clear: both;
}
/* IE6/7 support */
.clearfix {
  *zoom: 1;
}
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.none {
  display: none;
}
.ptb-80 {
  padding: 80px 0;
}
.ptb-40 {
  padding: 40px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
}
section {
  position: relative;
}
a {
  color: #6487CE;
}
.btn {
  color: white;
  background: #333e54;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 7px 10px;
  margin: 0 10px 10px 0;
  outline: none;
  border: none;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
}
.btn.small {
  font-size: 13px;
  font-size: 1.3rem;
  padding: 5px 8px;
  font-weight: bold;
}
.btn:hover {
  background: #1b212f;
}
.btn.clear {
  border: solid 1px #333e54;
  background: none;
  color: #333e54;
}
.btn.clear.alt {
  color: white;
}
.btn.clear:hover {
  background: #333e54;
  color: white;
}
.btn.red {
  border: solid 1px #d05158;
  background: none;
  color: #d05158;
}
.btn.red:hover {
  background: #d05158;
  color: white;
}
.btn.large {
  padding: 0 15px;
  height: 36px;
  line-height: 36px;
}
.btn.inactive {
  background: #eee;
  pointer-events: none;
}
.menu {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 50px;
  z-index: 100;
  border-bottom: solid 1px whitesmoke;
  background: white;
}
.menu h1 {
  padding: 0 20px;
  margin: 0;
  line-height: 50px;
}
.menu ul li {
  float: left;
  display: inline-block;
  padding: 0 20px;
  border-right: solid 1px whitesmoke;
}
.menu ul li:first-child {
  border-left: solid 1px whitesmoke;
}
.menu ul li a {
  color: #333;
  font-size: 14px;
  font-size: 1.4rem;
}
.menu ul li a:hover {
  color: #141414;
}
.menu ul li.active {
  background: white;
}
.menu ul li.active a {
  color: #141414;
}
.title {
  z-index: 10;
}
.title span.left,
.title a.left,
.title button.left,
.title input.left,
.title select.left {
  margin: 0 20px 0 0;
}
.title span.right,
.title a.right,
.title button.right,
.title input.right,
.title select.right {
  margin: 0 0 0 20px;
}
.title.fixed {
  background: white;
  top: 0;
  position: fixed;
  padding: 25px 0;
  border-bottom: solid 1px whitesmoke;
}
.content {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.content.edit-mode {
  -webkit-transform: translateX(-200px);
  -moz-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -o-transform: translateX(-200px);
  transform: translateX(-200px);
}
.img-wrap {
  text-align: center;
}
.img-wrap button {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.edit-panel {
  position: fixed;
  top: 50px;
  right: 0;
  width: 350px;
  min-height: 100%;
  background: whitesmoke;
  padding-left: 10px;
  padding-right: 10px;
  display: none;
}
.edit-panel input,
.edit-panel textarea,
.edit-panel select {
  width: 100%;
}
.edit-panel input.inline,
.edit-panel textarea.inline,
.edit-panel select.inline {
  width: inherit;
  float: left;
}
.edit-panel input.sm-label,
.edit-panel textarea.sm-label,
.edit-panel select.sm-label {
  margin-top: 3px;
}
.edit-panel label.inline {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  float: left;
  margin: 10px 10px 0 0;
  line-height: 38px;
}
.edit-panel.dv-3 {
  left: 0;
  width: 340px;
  right: auto;
  display: block;
  position: absolute;
  background: #fff;
  border-left: solid 1px whitesmoke;
}
.edit-panel.dv-3:nth-of-type(2) {
  border-left: 0;
  position: fixed;
  background: #1b212f;
  color: white;
  width: 370px;
}
.edit-panel.dv-3:nth-of-type(3) {
  left: 370px;
}
.edit-panel.dv-3:nth-of-type(4) {
  left: 710px;
}
.edit-panel.dv-3:nth-of-type(5) {
  left: 1050px;
}
.card {
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
  border: solid 1px #CCC;
}
.card .img-wrap {
  width: 100%;
  height: 0;
  background: white;
  padding-bottom: 150%;
  text-align: center;
  overflow: hidden;
}
.card .img-wrap img {
  max-width: 100%;
}
.card .meta ._title {
  margin-bottom: 0;
}
.card .meta ._price {
  font-size: 13px;
  font-size: 1.3rem;
  opacity: 0.7;
}
.card:hover,
.card.edit-mode,
.card.auto-pad {
  border-color: #222939;
  background: #222939;
  color: white;
}
.card.stable {
  cursor: default;
}
.card.stable:hover {
  background: white;
  border-color: whitesmoke;
  color: inherit;
}
.card.stable .img-wrap {
  padding-bottom: 100%;
}
.card.stable input,
.card.stable select,
.card.stable textarea {
  width: 100%;
}
.card.auto-pad {
  height: 0;
  position: relative;
  padding-bottom: 100%;
}
.card.auto-pad ._title {
  position: absolute;
  left: 10%;
  width: 80%;
  bottom: 0;
  color: white;
}
.card.auto-pad ._title.alt {
  top: 10px;
  bottom: auto;
}
.card.auto-pad ._title.lh {
  line-height: 1;
}
.card.auto-pad:hover ._title {
  color: #faba2d;
}
.selection {
  border-bottom: solid 1px #fcfcfc;
  padding: 0 0 15px 0;
}
.selection .remove {
  position: absolute;
  top: -30px;
  right: 0;
  background: #d05158;
  width: 16px;
  border-radius: 0 0 3px 3px;
  color: white;
  font-size: 11px;
  font-size: 1.1rem;
  text-align: center;
  line-height: 16px;
  padding-top: 5px;
}
.selection:nth-of-type(2) .remove {
  display: none;
}
.order-edit {
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 50;
  padding-top: 100px;
  display: none;
}
.login {
  padding: 20px;
  border-radius: 3px;
  border: solid 1px whitesmoke;
  margin-top: 100px;
}
/* #Forms
================================================== */
form {
  margin-bottom: 20px;
}
fieldset {
  margin-bottom: 20px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea,
select {
  border: solid 1px #ccc;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  padding: 10px 15px;
  text-indent: 0;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-family: inherit;
  color: #777777;
  width: 220px;
  max-width: 100%;
  float: left;
  display: block;
  margin: 10px 0;
  background: white;
  font-size: 14px;
  font-weight: normal;
}
input,
select,
button,
label {
  font-family: inherit;
}
select {
  width: 120px;
  height: 39px;
}
input.full,
select.full,
button.full,
label.full {
  width: 100%;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: solid 1px #333E54;
}
textarea {
  min-height: 60px;
  resize: none;
}
label,
legend {
  clear: both;
  display: block;
  font-weight: bold;
  font-size: 13px;
}
input[type="checkbox"] {
  display: inline;
}
label span,
legend span {
  font-weight: normal;
  font-size: 13px;
  color: #444444;
}
input[type="button"] {
  font-family: inherit;
}
.fill {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.cp {
  cursor: pointer;
}
.subtle {
  opacity: 0.4;
}
.bold {
  font-weight: 700;
}
.bg-white {
  background: white;
}
.pad-t-50 {
  padding-top: 50px;
}
.pad-t-100 {
  padding-top: 100px;
}
.pad-v-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.m-n {
  margin: 0;
}
.m-r-20 {
  margin-right: 20px;
}
.m-t-s {
  margin-top: 5px;
}
.m-r-s {
  margin-right: 5px;
}
.m-b-s {
  margin-bottom: 5px;
}
.m-t-m {
  margin-top: 30px;
}
.m-b-m {
  margin-bottom: 30px;
}
.m-b-l {
  margin-bottom: 50px;
}
.m-t-l {
  margin-top: 50px;
}
.m-t-n {
  margin-top: 0;
}
.m-v-n {
  margin-top: 0;
  margin-bottom: 0;
}
.m-b-n {
  margin-bottom: 0;
}
.m-v-s,
input.m-v-s {
  margin-top: 5px;
  margin-bottom: 5px;
}
.m-v-m {
  margin-top: 30px;
  margin-bottom: 30px;
}
.b-b {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.txt-xlg {
  font-size: 50px;
  font-size: 5rem;
}
.txt-md {
  font-size: 24px;
  font-size: 2.4rem;
}
.txt-min {
  font-size: 14px;
  font-size: 1.4rem;
}
.txt-sm {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
}
.show-mobile {
  display: none;
}
@media all and (max-width: 767px) {
  .show-mobile {
    display: block;
  }
}
@media all and (max-width: 767px) {
  .no-mobile {
    display: none !important;
  }
}
.no-pad {
  padding: 0 !important;
}
